#blanket {
   background-color: #111;
   opacity: 0.65;
    filter: alpha(opacity=75); /* For IE8 and earlier */ 
   position: absolute;
   z-index: 9001;
   top: 0px;
   left: 0px;
   width: 100%;
}

#popUpDiv {
  position: absolute;
  background: #fff;
  box-shadow: 10px 10px 5px #111;
  width: 450px;
  height: 310px;
  border: 2px solid #000;
  border-radius: 10px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 0px;
  z-index: 9002;
}

#confirmDialogue {
  position: absolute;
  background: #fff;
  box-shadow: 10px 10px 5px #111;
  width: 225px;
  height: 125px;
  border: 2px solid #000;
  border-radius: 10px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 0px;
  z-index: 9002;
}