<!DOCTYPE html>
<html>
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body ng-app="myApp" ng-controller="userCtrl">

<span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>

<div class="container">

<h3>Users</h3>

<table class="table table-striped">
  <thead><tr>
    <th width=200>Edit</th>
    <th>
    <a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">
          Order<span ng-show="orderByField == 'id'"><img src="asc.png" width="16" height="16" ng-show="!reverseSort"><img src="desc.png" width="16" height="16" ng-show="reverseSort"></span>
    </a>
    </th>
    <th>
    <a href="#" ng-click="orderByField='fName'; reverseSort = !reverseSort">
          First Name<span ng-show="orderByField == 'fName'"><img src="asc.png" width="16" height="16" ng-show="!reverseSort"><img src="desc.png" width="16" height="16" ng-show="reverseSort"></span>
    </a>
    </th>
    <th>
    <a href="#" ng-click="orderByField='lName'; reverseSort = !reverseSort">
          Last Name<span ng-show="orderByField == 'lName'"><img src="asc.png" width="16" height="16" ng-show="!reverseSort"><img src="desc.png" width="16" height="16" ng-show="reverseSort"></span>
    </a>
    </th>
    <th>
    <a href="#" ng-click="orderByField='times'; reverseSort = !reverseSort">
          Times<span ng-show="orderByField == 'times'"><img src="asc.png" width="16" height="16" ng-show="!reverseSort"><img src="desc.png" width="16" height="16" ng-show="reverseSort"></span>
    </th>
    <th>
    <a href="#" ng-click="orderByField='country'; reverseSort = !reverseSort">
          Country<span ng-show="orderByField == 'country'"><img src="asc.png" width="16" height="16" ng-show="!reverseSort"><img src="desc.png" width="16" height="16" ng-show="reverseSort"></span>
    </a>
    </th>
  </tr></thead>
  <tbody><tr ng-repeat="user in users|orderBy:orderByField:reverseSort">
    <td>
      <button class="btn" ng-click="editUser(user.id)">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
      <button class="btn" ng-click="deleteUser(user.id)">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Delete
      </button>
    </td>
    <td>{{ user.id }}</td>
    <td>{{ user.fName }}</td>
    <td>{{ user.lName }}</td>
    <td>{{ user.times }}</td>
    <td>{{ user.country }}</td>
  </tr></tbody>
</table>

<hr>
<button class="btn btn-success" ng-click="editUser('new')">
  <span class="glyphicon glyphicon-user"></span> Create New User
</button>
<button class="btn btn-success" ng-click="export()">
  <span class="glyphicon glyphicon-save"></span> Export Data
</button>
<hr>

<h3 ng-show="edit">Create New User:</h3>
<h3 ng-hide="edit">Edit User:</h3>

<form class="form-horizontal">
<div class="form-group">
  <label class="col-sm-2 control-label">First Name:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="fName" ng-disabled="false" placeholder="First Name">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Last Name:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="lName" ng-disabled="false" placeholder="Last Name">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Times:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="times" ng-disabled="false" placeholder="0">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Country:</label>
  <div class="col-sm-10">
    <input type="text" ng-model="country" ng-disabled="false" placeholder="Country">
  </div>
</div>
</form>

<hr>
<button ng-hide="edit" class="btn btn-success" ng-click="saveUser()">
  <span class="glyphicon glyphicon-save"></span> Save Changes
</button>
<button ng-show="edit" class="btn btn-success" ng-click="newUser()">
  <span class="glyphicon glyphicon-save"></span> Save New User
</button>
</div>

<script src = "myUser.js"></script>
</body>

</html>
