<!DOCTYPE html>
<html>
<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="jquery-latest.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="base.css">
</head>

<body ng-app="myApp" ng-controller="userCtrl">

<span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>

<div class="container">

<h3>Users</h3>

<table class="table table-striped">
  <thead><tr>
    <th width=200 style="text-align:left">Edit</th>
    <th style="text-align:center">
    <a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">
          Order <span ng-show="orderByField == 'id'"><span class="glyphicon glyphicon-sort-by-order" ng-show="!reverseSort"></span><span class="glyphicon glyphicon-sort-by-order-alt" ng-show="reverseSort"></span></span>
    </a>
    </th>
    <th style="text-align:center">
    <a href="#" ng-click="orderByField='fName'; reverseSort = !reverseSort">
          First Name <span ng-show="orderByField == 'fName'"><span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span><span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span></span>
    </a>
    </th>
    <th style="text-align:center">
    <a href="#" ng-click="orderByField='lName'; reverseSort = !reverseSort">
          Last Name <span ng-show="orderByField == 'lName'"><span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span><span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span></span>
    </a>
    </th>
    <th style="text-align:center">
    <a href="#" ng-click="orderByField='times'; reverseSort = !reverseSort">
          Times <span ng-show="orderByField == 'times'"><span class="glyphicon glyphicon-sort-by-order" ng-show="!reverseSort"></span><span class="glyphicon glyphicon-sort-by-order-alt" ng-show="reverseSort"></span></span>
    </th>
    <th style="text-align:center">
    <a href="#" ng-click="orderByField='country'; reverseSort = !reverseSort">
          Country <span ng-show="orderByField == 'country'"><span class="glyphicon glyphicon-sort-by-alphabet" ng-show="!reverseSort"></span><span class="glyphicon glyphicon-sort-by-alphabet-alt" ng-show="reverseSort"></span></span>
    </a>
    </th>
  </tr></thead>
  <tbody><tr ng-repeat="user in $storage.users|orderBy:orderByField:reverseSort">
    <td>
      <button class="btn btn-info" ng-click="editUser(user.id)">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
      </button>
      <button class="btn btn-danger" ng-click="deleteUser(user.id)">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete
      </button>
    </td>
    <td align="center">{{ user.id }}</td>
    <td align="center">{{ user.fName }}</td>
    <td align="center">{{ user.lName }}</td>
    <td align="center">{{ user.times }}</td>
    <td align="center">{{ user.country }}</td>
  </tr></tbody>
</table>

<hr>
<button class="btn btn-success" ng-click="editUser('new')">
  <span class="glyphicon glyphicon-user"></span> Create New User
</button>
<hr>

<div id="blanket" style="display:none"></div>
<div id="popUpDiv" style="display:none">
  <h3 ng-show="edit">Create New User</h3>
  <h3 ng-hide="edit">Edit User</h3>
  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">First Name:</label>
    <div class="col-sm-9">
      <input type="text" ng-model="fName" ng-disabled="false" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Last Name:</label>
    <div class="col-sm-9">
      <input type="text" ng-model="lName" ng-disabled="false" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Times:</label>
    <div class="col-sm-9">
      <input type="number" ng-model="times" ng-disabled="false" min="0">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Country:</label>
    <div class="col-sm-9">
      <input type="text" ng-model="country" ng-disabled="false" placeholder="Country">
    </div>
  </div>
  </form>

  <hr>
  <button ng-hide="edit" class="btn btn-success" ng-click="saveUser()">
    <span class="glyphicon glyphicon-save"></span> Save Changes
  </button>
  <button ng-show="edit" class="btn btn-success" ng-click="newUser()">
    <span class="glyphicon glyphicon-save"></span> Save New User
  </button>
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="glyphicon glyphicon-remove-circle"></span> Cancel
  </button>
  </div>
</div>

<script src = "myUser.js"></script>
</body>

</html>
